@font-face {
	font-family: "Prata";
	src: url("../fonts/Prata-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
* {
  box-sizing: border-box;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/bg_main_mobile.png);
	background-repeat: no-repeat;
	background-position: 10% 0;
	position: relative;

}
.wrapper:before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 536px;
    opacity: 0.1;
    z-index: 1
}

header {
	padding-top: 30px;
	visibility: 	position: relative;
	z-index: 3;;
}

nav {
	display: none;
}

header,
.promo,
.directions,
.lesson,
.video,
.contacts {
	margin-left: 6%;
	margin-right: 6%;
	width: 88%;
	margin-bottom: 50px;
}
.promo {
	position: relative;
	z-index: 3;
}

.logo-diez {
	font-family: 'Prata', sans-serif;
	font-size: 30px;
	color: #eec643;
}

.promo-mobile-btn {
 	display: block;
	background-color: #eec643;
	color: #fff;
	padding: 24px 0;
    margin-top: 95px;
    /*margin-bottom: 30px;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	line-height: 22px;
}

h1 {
	font-family: 'Prata', sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #fff;
}

.promo-title-desktop {
	display: none;
}
.promo-subline {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
}

.__title {
	font-family: 'Prata', sans-serif;
	font-size: 30px;
	color: #000;
	border-top: 1px solid #eec643;
	border-bottom: 1px solid #eec643;
	margin: 0; 
	width: 60%;
}

.map {
	width: 100%;
	height: 216px;
}
 
.promo-form,
.footer-logo,
.footer-social  {
	display: none;
}

@media (min-width: 321px){

.wrapper{
	background-size: cover;
	background-image: url(../img/bg_main.png);
	background-repeat: no-repeat;
	background-position: 10% 0;
	height: 536px;
	position: relative;
}

}


@media (min-width: 1025px) {

.wrapper {
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/bg_main.png);
	background-repeat: no-repeat;
	background-position: 10% 0;
	position: relative;
}

header {
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 30px;
	margin-bottom: 140px;
	position: relative;
	z-index: 3;
}

nav {
	display: inline;
	margin-bottom: 100px;
}

.nav-list {
	padding-left: 60%;
    margin-top: -25px;
}

.nav-item {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 30px;
}

.promo,
.directions,
.lesson,
.video,
.contacts {
	margin: 0 5%;
	width: 90%;
}

.promo {
	position: relative;
	z-index: 3;
}

.__title {
	font-size: 50px;
	border-top: 3px solid #eec643;
	border-bottom: 3px solid #eec643;
	width: 90%;
}

.promo-mobile-btn {
	display: none;
}

h1 {
	font-family: 'Prata', sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #fff;

}

.promo-title-mobile {
	display: none;
}
.promo-title-desktop {
	display: inline-block;
}

.promo-subline {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	line-height: 28px;
}

.map {
	width: 60%;
	height: 470px;
}

.promo-form,
.footer-logo,
.footer-social  {
	display: block;
}

.promo,
.directions,
.lesson,
.video,
.contacts {
	margin: 0 5%;
	width: 90%;
}

footer {
	margin: 0 5%;
	padding-top: 100px;
	padding-bottom: 60px;
}
.footer-logo {
	font-family: 'Prata', sans-serif;
	font-size: 20px;
	color: #eec643;
}

.footer-social {
	padding-left: 60%;
    margin-top: -35px;
    margin-right: 0px;
}

.footer-social-item {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 45px;
}

.__list {
	display: inline;
}

}