@font-face {
	font-family: "Prata";
	src: url("../fonts/Prata-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
	background-color: #f9fcfc;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/bg_main_mobile.png);
	background-repeat: no-repeat;
	background-position: 10% 0;
	position: relative;

}

.wrapper:before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 536px;
    opacity: 0.1;
    z-index: 1
}

header {
	padding-top: 30px;
	position: relative;
	z-index: 3;;
}

nav {
	display: block;
}

header,
.promo,
.video {
	margin-left: 6%;
	margin-right: 6%;
	width: 88%;
	margin-bottom: 50px;
}

.promo {
	position: relative;
	z-index: 3;
	height: 405px;

}

.logo-diez {
	font-family: 'Prata', sans-serif;
	font-size: 30px;
	color: #eec643;
}

.promo__btn-mobile {
 	display: block;
	background-color: #eec643;
	color: #fff;
	padding: 24px 0;
    margin-top: 36%;
    /*margin-bottom: 30px;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	line-height: 22px;
}

h1 {
	font-family: 'Prata', sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #fff;
}

.promo-title-desktop {
	display: none;
}
.promo-subline {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
}


.direction,
.advant {
	height: 560px;
	margin: 0px 15px 30px 15px;

}

.direction__container,
.advant__container {
	display: block;
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

.row {
	display: block;
}

.direction__header {
	position: relative;
	font-size: 30px;
	font-family: 'Prata', sans-serif;
	line-height: 30px;
	transform: none;
	color: #021a23;
	font-weight: normal;
}

.direction__header:before,
.advant__header:before,
.contacts__header:before {
	content: '';
	display: block;
	position: absolute;
	background: #eec643;
	width: 100%;
	height: 1px;
	top: -9px;
}

.direction__header:after,
.advant__header:after,
.contacts__header:after {
	content: '';
	display: block;
	position: absolute;
	background: #eec643;
	width: 100%;
	height: 1px;
	bottom: -5px;
}

.direction__guitar-img {
	background-image: url(../img/directions_card_img_1_mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;
}

.direction__vocal-img {
	background-image: url(../img/directions_card_img_2_mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;
}

.direction__piano-img {
	background-image: url(../img/directions_card_img_3_mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;

}

.direction__guitar-title,
.direction__vocal-title,
.direction__piano-title,
.advant__theacher-title,
.advant__result-title,
.advant__studio-title {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 0px;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 30px;
}

.direction__guitar-text--mobile,
.direction__vocal-text--mobile,
.direction__piano-text--mobile,
.advant__theacher-text--mobile,
.advant__result-text--mobile,
.advant__studio-text--mobile {
	display: block;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 0px;
	font-weight: normal;
	padding-left: 15px;
	padding-top: 10px;
}

.direction__guitar-text--desc,
.direction__vocal-text--desc,
.direction__piano-text--desc,
.advant__theacher-text--desc,
.advant__result-text--desc,
.advant__studio-text--desc {
	display: none;
}

.direction__lessons {
	display: none;
}

.direction__piano,
.advant__studio {
	width: 72%;
}

.direction__all {
	background-color: #eec643;
	display: flex;
    height: 145px;
    position: relative;
    transform: rotate(180deg);
    margin-left: 78%;
    margin-top: -145px;
    width: 22%;
}

.direction__all-title {
	color: #000;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
    padding-left: 13px;
    padding-right: 10px;
    padding-bottom: 13px;
    padding-top: 12px;
    position: relative;
    writing-mode: vertical-rl;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.advant__header {
	position: relative;
	font-size: 33px;
	font-family: 'Prata', sans-serif;
	line-height: 30px;
	transform: none;
	color: #021a23;
	font-weight: normal;
}

.advant__theacher-img {
	background-image: url(../img/advantages_card_img_1_mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;
}

.advant__result-img {
	background-image: url(../img/advantages_card_img_2_mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;
}

.advant__studio-img {
	background-image: url(../img/advantages_card_img_3_mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;
}

.advant__btn-mobile {
	background-color: #eec643;
	display: flex;
    height: 145px;
    position: relative;
    transform: rotate(180deg);
    margin-left: 78%;
    margin-top: -145px;
    width: 22%;
}
.advant__btn-title {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
    padding-left: 13px;
    padding-right: 10px;
    padding-bottom: 13px;
    padding-top: 12px;
    position: relative;
    writing-mode: vertical-rl;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.video {
	display: none;
	height: 300px;
}

.__title {
	font-family: 'Prata', sans-serif;
	font-size: 30px;
	color: #000;
	border-top: 1px solid #eec643;
	border-bottom: 1px solid #eec643;
	margin: 0; 
	width: 60%;
}

.map {
	width: 100%;
	height: 216px;
}

.contacts {
	display: block;
	height: 400px;
	margin: 0px 15px 30px 15px;
}

.contacts__header  {
	position: relative;
	font-size: 30px;
	font-family: 'Prata', sans-serif;
	line-height: 30px;
	transform: none;
	color: #021a23;
	font-weight: normal;
}

.contacts__adress {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 5%;
	padding-top: 5%;
}
 
.contacts__btn-mobile {
 	display: block;
	background-color: #eec643;
	color: #fff;
	padding: 24px 0;
    margin-top: 10%;
    margin-bottom: 10%;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	line-height: 22px;
}

.promo__form,
.footer-logo,
.footer-social,
.advant__form,
.contacts__form {
	display: none;
}


@media (min-width: 321px) {

	.wrapper {
		background-size: cover;
		background-image: url(../img/bg_main.png);
		background-repeat: no-repeat;
		background-position: 10% 0;
		height: 536px;
		position: relative;
	}

	.promo {
		height: 405px;
		z-index: 3;
	}

}

@media (min-width: 706px) {

	.promo__btn-mobile {
		margin-top: 24%;
		font-size: 18px;
	}

	.direction,
	.advant {
	    height: 880px;
	}

	.direction__guitar-title, 
	.direction__vocal-title, 
	.direction__piano-title,
	.advant__theacher-title,
	.advant__result-title,
	.advant__studio-title {
	    color: #fff;
	    font-family: 'PT Sans', sans-serif;
	    font-size: 24px;
	    line-height: 0px;
	    font-weight: bold;
	    padding-left: 15px;
	    padding-top: 30px;
	}

	.direction__guitar-text--mobile,
	.direction__vocal-text--mobile,
	.direction__piano-text--mobile,
	.advant__theacher-text--mobile,
	.advant__result-text--mobile,
	.advant__studio-text--mobile {
	    display: block;
	    color: #fff;
	    font-family: 'PT Sans', sans-serif;
	    font-size: 20px;
	    line-height: 0px;
	    font-weight: normal;
	    padding-left: 15px;
	    padding-top: 10px;
	}

	.direction__guitar-img {
		background-image: url(../img/directions_card_img_1.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 250px;
	}

	.direction__vocal-img {
		background-image: url(../img/directions_card_img_2.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 250px;
	}

	.direction__piano-img {
		background-image: url(../img/directions_card_img_3.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 250px;
	}

	.direction__piano,
	.advant__studio {
    	width: 75%;
    } 

	.direction__all,
	.advant__btn-mobile {
		height: 249px;
	    margin-top: -249px;
	}
    
	.direction__all-title,
	.advant__btn-title {
		font-size: 30px;
		padding-left: 68px;
	}

	.advant__theacher-img,
	.advant__result-img,
	.advant__studio-img {
		height: 250px;
	}

	.contacts {
		height: 445px;
	}
	
	.contacts__adress {
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	
	.contacts__btn-mobile {
		margin-bottom: 30px;
		margin-top: 20px;
		font-size: 18px;
		line-height: 24px;
	}
}


@media (min-width: 1025px) {

	.wrapper {
		width: 100%;
		height: 773px;
		margin: 0 auto;
		background-image: url(../img/bg_main.png);
		background-repeat: no-repeat;
		background-position: 10% 0;
		position: relative;
	}

	.wrapper:before {
	    content: '';
	    position: absolute;
	    background-color: #000;
	    width: 100%;
	    height: 772px;
	    opacity: 0.1;
	    z-index: 1
	}

	header {
		margin-right: 5%;
		margin-left: 5%;
		padding-top: 30px;
		margin-bottom: 140px;
		position: relative;
		z-index: 3;
	}

	nav {
		display: inline;
		margin-bottom: 100px;
	}

	.nav-list {
		padding-left: 60%;
	    margin-top: -25px;
	}

	.nav-item {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		padding-left: 30px;
	}

	.promo,
	.directions,
	.lesson,
	.video,
	.contacts {
		margin: 0 5%;
		width: 90%;
	}


	.promo__form,
	.footer-logo,
	.footer-social,
	.advant__form,
	.contacts__form {
		display: block;
	}

	.promo {
		position: relative;
		z-index: 3;
		height: 650px;
	}

	.promo-item {
		display: flex;
		flex-wrap: wrap; 
	}
	.promo-cols {
		width: 75%;
	}

	.promo-cols-form {
		width: 25%;
	}

	.promo__form {
		background-color: #fff;
		opacity: .9;
		padding: 30px 30px 0 30px;
		width: 280px;
		height: 420px;
		border: 2px solid #021a23;
	}

	h3 {
		font-family: 'PT Sans', sans-serif;
		font-size: 30px;
		line-height: 40px;
		color: #021a23;
		margin: 0; 
	}

	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		line-height: 28px;
		color: #021a23;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 25px;
	}

	input {
		color: #596063;
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		line-height: 28px;
		border-bottom: 2px solid #021a23;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		padding-top: 10px;
		} 

	select {
		color: #596063;
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		line-height: 28px;
		border-bottom: 2px solid #021a23;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		padding-top: 10px;
		background-color: #fff;
		/*opacity: .3;*/
		border-radius: 0px;
		width: 212px;
	}

	button[type="button"] {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		color: #fff;
		background-color: #021a23;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #021a23;
		width: 277px;
		height: 80px;
		margin-top: 70px;
		margin-left: -30px;

	}

	.promo__btn-mobile,
	.advant__btn-mobile,
	.contacts__btn-mobile {
		display: none;
	}

	h1 {
		font-family: 'Prata', sans-serif;
		font-size: 55px;
		line-height: 55px;
		color: #fff;

	}

	.promo-title-mobile {
		display: none;
	}
	.promo-title-desktop {
		display: block;
	}

	.promo-subline {
		color: #fff;
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		line-height: 28px;
	}

	.direction,
	.advant,
	.contacts {
		height: 660px;

	}

	.direction__container {
		display: flex;
		align-self: flex-end;
	}

	.container {
		max-width: 1170px;
		margin: 0 auto;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
	}

	.direction__guitar,
	.direction__vocal,
	.direction__piano {
		width: 50%;
	}

	.direction__lessons,
	.direction__all {
		width: 20%;
		flex-grow: 1;
	}


	.__title {
		font-size: 50px;
		border-top: 3px solid #eec643;
		border-bottom: 3px solid #eec643;
		width: 90%;
	}

	.direction__vocal-text--mobile,
	.direction__piano-text--mobile,
	.direction__guitar-text--mobile {
		display: none;
	}

	.direction__header {
		position: relative;
		transform: rotate(180deg);
		display: block;
		color: #000;
		width: 3.5%;
		white-space: nowrap;
		writing-mode: vertical-lr;
		font-family: 'Prata', sans-serif;
		font-weight: normal;
		font-size: 50px;
		line-height: 50px;
		margin: 0;
	}

	.direction__header::before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		top: 0;
		right: 50px;
	}

	.direction__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		bottom: 0;
		left: 55px;
	}

	.direction__guitar-img {
		background-image: url(../img/directions_card_img_1.png);
		background-repeat: no-repeat;
		height: 270px;
		background-size: cover; 
		margin-left: 40px;
		margin-right: 30px;
		margin-bottom: 30px;
	}

	.direction__vocal-img {
		background-image: url(../img/directions_card_img_2.png);
		height: 270px;
		background-repeat: no-repeat;
	}

	.direction__piano-img {
		background-image: url(../img/directions_card_img_3.png);
		background-repeat: no-repeat;
		background-size: cover; 
		height: 270px;
		margin-right: 30px;
		margin-left: 40px;
	}
	.direction__lessons {
		display: flex;
		margin-right: 15px;
	}

	.direction__lessons-img {
		background-image: url(../img/directions_card_img_4.png);
		background-repeat: no-repeat;
		width: 270px;
		height: 270px;
	}

	.direction__all {
		/*width: 270px;*/
		height: 270px;
		background-color: #eec643;
		margin-left: 15px;
		padding-right: 30px;
		margin-top: 0px;
		position: relative;
    	transform: rotate(0deg);
    	padding-right: 30px;
	}

	.direction__all-title {
	 	text-transform: none;
	 	writing-mode: horizontal-tb;
	 }

	.direction__guitar-title,
	.direction__vocal-title,
	.direction__piano-title,
	.direction__lessons-title,
	.direction__all-title {
		color: #fff;
		font-family: 'PT Sans', sans-serif;
		font-size: 30px;
		line-height: 40px;
		font-weight: bold;
		padding-left: 30px;
		padding-top: 20px;
	}

	.direction__piano-text,
	.direction__lessons-text,
	.direction__guitar-text,
	.direction__vocal-text {
		color: #fff;
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		line-height: 28px;
		padding-left: 35px;
		padding-top: 5px;
	}

	.direction__guitar-text--desc,
	.direction__vocal-text--desc,
	.direction__piano-text--desc,
	.direction__lessons-text--desc {
		display: block;
	}

	.guitar-price {
		padding-top: 70px; 
	}

	.advant__container {
		display: block;
	}

	.advant__header {
	    position: relative;
	    font-size: 50px;
	    font-family: 'Prata', sans-serif;
	    line-height: 30px;
	    white-space: nowrap;
	    color: #021a23;
	    font-weight: normal;
	    height: 58px;
	    margin: 0 0 20px 0;
	}

	.advant__header:before {
		width: 50%;
		height: 3px;
		top: -20px;

	}
	.advant__header:after {
		width: 50%;
		height: 3px;
		bottom: 10px;
	}

	.advant__theacher,
	.advant__result {
		width: 24%;
	} 

	.advant__studio {
		width: 267px;
		margin-left: 18px;
		margin-top: -100px;
	}
	
	.advant__theacher {
		margin-right: 15px;
	}

	.advant__result {
		margin-right: 15px;
		margin-left: 15px;
	}

	.advant__theacher-img {
		background-image: url(../img/advantages_card_img_1.png);
		background-repeat: no-repeat;
		height: 470px;
	}

	.advant__result-img {
		background-image: url(../img/advantages_card_img_2.png);
		background-repeat: no-repeat;
		height: 470px;
	}

	.advant__studio-img {
		background-image: url(../img/advantages_card_img_3.png);
		background-repeat: no-repeat;
		height: 570px;
	}

	.advant__theacher-title,
	.advant__result-title,
	.advant__studio-title {
		color: #fff;
		font-family: 'PT Sans', sans-serif;
		font-size: 30px;
		line-height: 40px;
		font-weight: bold;
		padding-left: 30px;
		padding-top: 20px;
	}
	
	.advant__theacher-text--mobile,
	.advant__result-text--mobile,
	.advant__studio-text--mobile {
		display: none;
	}
	
	.advant__theacher-text--desc,
	.advant__result-text--desc,
	.advant__studio-text--desc {
	 	display: block;
		color: #fff;
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		font-weight: normal;
		line-height: 28px;
		padding-left: 30px;
		padding-top: 5px;
		
	}

	.advant__form {
		background-color: #fff;
		padding: 30px 30px 0 30px;
		width: 270px;
		height: 570px;
		border: 2px solid #eec643;
		margin-top: -100px;
		margin-left: 5px;
	}
	
	.video {
		display: block;
    	height: 600px;
    	margin-top: -50px;
    	margin-bottom: 40px;
	}

	.video-container {
	  display: flex;
	  flex-flow: column wrap-reverse;
	  width: 1280px;
	  height: 600px;
	  font-size: 0;
	  /*border: 1px solid black;*/
	}
	.video-item {
	  position: relative;
	  box-sizing: border-box;
	  width: 30%; height: auto;
	  padding: 6px;
	  /*flex: auto;*/
	  /*background-color: deepskyblue;*/
	  /*border: 1px solid grey;*/
	}
	.video-item:last-child{
	  width: 70%;
	}
	.video-item:last-child img{
	  height: calc(600px - 6px*2/* - 2*1px*/);
	}
	.video-item img {
	  width: 100%;
	  height: calc(200px - 6px*2 /*- 2*1px*/);
	  object-fit: cover;
	}

	.video-item button{
	  position: absolute;
	  display: block;
	  box-sizing: content-box;
	  top: 50%; margin-top: -30px;
	  left: 50%; margin-left: -10px;
	  width: 0;
	  height: 0;
	  padding: 0;
	  background: transparent;
	  border: 40px solid transparent;
	  border-left-color: #eec643;
	  border-right: 0;
	}

	.video__header {
		position: relative;
		transform: rotate(180deg);
		display: block;
		color: #000;
		width: 3.5%;
		white-space: nowrap;
		writing-mode: vertical-lr;
		font-family: 'Prata', sans-serif;
		font-weight: normal;
		font-size: 50px;
		line-height: 50px;
		margin: 0;
	}

	.video__header::before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		top: 0;
		right: 50px;
	}

	.video__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		bottom: 0;
		left: 55px;
	}

	.contacts__container{
		display: flex;
		width: 874px;
		margin-left: 50px;
	}

	.contacts__header {
		position: relative;
	    font-size: 50px;
	    font-family: 'Prata', sans-serif;
	    line-height: 30px;
	    white-space: nowrap;
	    color: #021a23;
	    font-weight: normal;
	    height: 58px;
		width: 75%;
		margin: 0 0 7px 0;
	}

	.contacts__header:before {
		/*width: 50%;*/
		height: 2px;
		top: -22px;
	}

	.contacts__header:after {
		/*width: 50%;*/
		height: 2px;
		bottom: 10px;
	}

	.contacts__adress {
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		line-height: 28px;
		width: 25%;
		margin-left: 30px;
		margin-top: -45px;
	}

	.map {
		width: 874px;
		height: 470px;
		margin-left: 50px;
		margin-top: 15px;
	}
	
	.contacts__form {
		background-color: #fff;
		padding: 30px 30px 0 30px;
		width: 270px;
		height: 570px;
		border: 2px solid #eec643;
		margin-top: -570px;
		margin-left: 960px;
	}

	.form-title__yellow {
		color: #eec643;

	}

	footer {
		margin: 0 5%;
		padding-top: 100px;
		padding-bottom: 60px;
	}
	.footer-logo {
		font-family: 'Prata', sans-serif;
		font-size: 20px;
		color: #eec643;
	}

	.footer-social {
		padding-left: 60%;
	    margin-top: -35px;
	    margin-right: 0px;
	}

	.footer-social-item {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		padding-left: 45px;
	}

	.__list {
		display: inline;
	}

}